div.container
  ul.lista
    li.link
      a(href='/') home
    li.link
      a(href='/about') about
    li.link
      a(href='/projects') projects
    li.link
      a(href='/blog') blog
    li.link
      a(href='/contactus') contact us