doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=devide-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/style.css")
        title ED
    body
        include ../partials/header
        block contenido